  ### ArchLinuxPackages ###
  *.tar
  *.tar.*
  *.jar
  *.exe
  *.msi
  *.zip
  *.tgz
  *.log
  *.log.*
  *.sig

  pkg/
  src/

  ### Linux ###
  *~
  .fuse_hidden*
  .directory
  .Trash-*
  .nfs*

  ### Unity ###
  /[Ll]ibrary/
  /[Tt]emp/
  /[Oo]bj/
  /[Bb]uild/
  /[Bb]uilds/
  /[Ll]ogs/
  /[Uu]ser[Ss]ettings/
  /[Mm]emoryCaptures/
  /[Rr]ecordings/
  .vs/
  .vscode/
  .gradle/
  ExportedObj/
  .consulo/
  *.csproj
  *.unityproj
  *.sln
  *.suo
  *.tmp
  *.user
  *.userprefs
  *.pidb
  *.booproj
  *.svd
  *.pdb
  *.mdb
  *.opendb
  *.VC.db
  *.pidb.meta
  *.pdb.meta
  *.mdb.meta
  sysinfo.txt
  *.apk
  *.aab
  *.unitypackage
  *.app
  crashlytics-build.properties
  /[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
  /[Aa]ssets/[Ss]treamingAssets/aa.meta
  /[Aa]ssets/[Ss]treamingAssets/aa/*